<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/de.bsvrz.iav.gllib/junit/de/bsvrz/iav/gllib/gllib/junit/TestGanglinienParameterSetzer.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="de.bsvrz.iav.gllib.gllib.junit.TestGanglinienParameterSetzer"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-datenverteiler=192.168.1.137:8083&#13;&#10;-benutzer=Tester&#13;&#10;-authentifizierung=${workspace_loc}/VRZ3BaWue/skripte-bash/passwd&#13;&#10;-debugLevelFileText=all&#13;&#10;-debugLevelStdErrText=all&#13;&#10;-debugSetLoggerAndLevel=:warning&#13;&#10;-debugSetLoggerAndLevel=de.bsvrz.iav:config"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="de.bsvrz.iav.gllib"/>
</launchConfiguration>
